body {
    background-color: #add8e6;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #00008b;
}

h2 {
    font-size: 32px;
    color: slategrey;
}

p {
    font-size: 20px;
    line-height: 1.6;
}